.listings__property{
    height: 100%;
    overflow: scroll;
    position:sticky;
    top: 0;
}

.listings__wrapper{
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;
}

.listings__cardHolder{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    overflow:scroll;
    max-width: 100vw;
    padding: 40px;
    gap: 20px;
    margin-bottom:100px;
}

.card{
    width: 
}