
.sideBar{
    height:100%;
    width: 100%;
    /* background-color: var(--background-color); */
    position:relative;
    padding:0;
    margin: 0;

}

.topBar{
    text-align: left;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.topBar h1{
    text-align: center;
    font-size: 1.2rem;
    padding: 0px 50px;
    font-weight: bold;
    font-family: Poppins;
}

.sortBy{
    display:grid;
    grid-template-columns: 4fr 6fr;
    place-items: center;
    background-image: var(--gradient);
    padding: 0 20px;
}

.sortBy p{
    font-size: 1rem;
    font-family: Mulish;
    color: #fff;
}

.sortBy select{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: Mulish;
}

.sideBar ul{
    list-style: none;
}

.sideBar ul li{
    font-size: 1.2rem;
    font-weight: normal;
    font-family: Poppins;
    line-height: 2.5rem;
    padding-left: 20px;
    color: var(--word)
}

.sideBar ul li:hover{
    border-left: 6px solid var(--btn-border-color);
    cursor: pointer;
    
}

.barHolder{
    position: sticky;
    top: -50px;
    margin-top: 20px;
    padding-left: 50px;
}

.bar{
    display: grid;
    grid-template-columns: 6fr 4fr;
    border-bottom: 2px solid var(--subtitle-color);
}

.bar h3{
    font-size: 1rem;
    font-family: Mulish;
}
@media(max-width:1000px) {

    .sideBar{
        position: relative;
        width: 100%;
        background-color: rgb(243, 240, 240);
        height: 50px;
        display: none;
    }

    .sideBar h1{
        display: none;
    } 
}

