.header__section{
    position: relative;
    width: 100vw;
    height: 600px;
    overflow: hidden;
}

.header__wrapper{
    width: 100vw;
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: var(--background-color);
}

.header__wrapper .wave{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-image: linear-gradient(135deg, #8fd155 0%, #dffcc7 100%);
} 

.header__wrapper .wave svg {
    position: absolute;
    display: block;
    width: calc(202% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.header__wrapper .wave .shape_fill {
    fill: #FFFFFF;
}


.header__container{
    position:absolute;
    width:100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    background-size: cover;
    background-attachment: fixed;
}
.header__panel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    display: grid;
    place-items: center;
}

.header__panel h2{
    font-size: 2.5rem;
    color: #3F8462;
    padding: 0;
    margin: 0;
    font-family: Poppins;
    font-weight: 600;
}

.header__panel p{
    font-size: 1.2rem;
    color: #62C371;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.header__panel button{
    width: 100%;
    padding:20px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    font-family: "Poppins";
    background-image: var(--gradient);
    color: var(--main-2-color);
    font-size: 1.2rem;
    font-family: Poppins;
    font-weight: 200;
    margin: 40px 0;

}

.header__img{
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}