
.metricsHolder{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 5px;
}

.metricsHolder h5{
    font-size: 1rem;
    font-weight: 400;
    font-family: Poppins;
    color: var(--footer-color);
    margin:0;
}

.metricsHolder p{
    font-size: 0.8rem;
    font-family: Poppins;
    font-weight: 100;
    margin: 0;
    padding:0;
}

.desc{
    border-bottom: 1px solid grey;
}