

@media(max-width:1000px){
    .productWrapper {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
