.navBar{
    width: 100vw;
}

.navContainer, .nav,.links{
    display: flex;
    margin: 0 40px;
    justify-content: space-between;
}

.nav .link{
    margin: 0 15px;
}

.nav .link{
    text-decoration: none;
    font-size: 1.2rem;
}

.menu .link{
    margin: 0 40px;
    font-style: bold;
}



