.navBar{
    width: 100vw;
    height: 70px;
}

.navContainer .logo{
    color:#fff;
    text-decoration: none;
    margin-left: 20px;
}

.navContainer, .nav,.links{
    display: flex;
    margin: 0 40px;
    justify-content: space-between;
}

.nav .link{
    margin: 0 20px;
    text-decoration: none;
    font-size: 1rem;
    color: var(--footer-color);
    font-family: Poppins;
}

.menu .link{
    margin: 0 40px;
    font-style: bold;
    font-size: 1.2rem;
}







