
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center

}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px;
}

.wrapper p{
    font-size: .8rem;
    font-family: Mulish;
    color: var(--word-dark);
    margin: 5px;
}

