/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,400&display=swap');


:root {
  --main-1-color: #87BC31;
  --main-color: #C4DC81;
  --main-2-color: #D0F8B1;
  --background-color: #F0F0F0;
  --background-2-color: #f7fff7;
  --footer-color: #272825;
  --title-color: #3F8462;
  --subtitle-color: #62C371;
  --gradient:linear-gradient(135deg, #3F8462 0%, #62C371 100%);


}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-2-color);
}