.btn_holder button {
    background-color: #fff;
    padding: 20px 70px;
    border: 2px solid var(--subtitle-color);
    border-radius: 10px;
    font-size: .9rem;
    font-family: Poppins;
    cursor: pointer;
}

.btn_holder button:hover {
    background-image: var(--gradient);
    outline: none;
    color: var(--background-2-color);
    border: 0;
}