
.section{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    
}

@media(max-width:1000px) {
    .section{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
}