
.section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width:1000px) {
    .section{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
}