
.wrapper{
    border: 1px solid var(--color);
    padding: 10px;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 100;
    cursor: pointer;
}

.wrapper .btn{
    background-color: var(--btn-color);
    color: var(--color);
    outline: one;
    border: 0;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    z-index: 1;
    cursor: pointer;
}

.wrapper i{
    color: var(--word-dark);
    margin-left: 10px;

}

.wrapper input{
    background-color: var(--color);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 20px;
    z-index: -2;
    padding: 0 50px;
}