.ImageHolder{
    position: relative;
    display: grid;
    place-items: center;
    height: 70px;
    background-color:white;
}

.Image__img{
    width: 100px;
    height: 100px;
    position:absolute;
    border: 2px dashed rgb(232, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    top:20px;
}

.Image__img img{
    width: 100%;
    object-fit: cover;
}
.Image__verified{
    position:absolute;
    right:0;
    top: -20px;
    padding: 0px 40px;
    border-radius:50px;
    background-color: green;
    color:white;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
}