
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    max-width: 400px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--word-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--btn-border-color);
    font-size: 1.4rem;
    color: var(--background-color);
    text-decoration: none;
    cursor: pointer;
}


.icons:focus{
    color: var(--btn-border-color);
    background-color: var(--color)
}

.icons:hover{
    color: var(--accent-2-color);
    transform: Scale(1.05);
    background-color: var(--accent-1-color);
    transition: transform 0.6s ease-in-out;
}